# Configuration file for yamllint
# https://yamllint.readthedocs.io/en/stable/configuration.html

---
extends: default
rules:
  line-length: disable
  quoted-strings:
    quote-type: double
    required: false
  comments:
    min-spaces-from-content: 1
  document-start:
    ignore: |
      .github
  truthy:
    ignore: |
      .github
